#home {
  background: #444;
  color: #fff;
  display: flex;
  padding: 2rem 8rem;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: 200px) and (max-width: 459px) {
    width: 100%;
    padding: 1.5rem;
  }
  @media (min-width: 460px) and (max-width: 759px) {
    width: 100%;
    padding: 1rem;
  }
  @media (min-width: 759px) and (max-width: 999px) {
    width: 100%;
    padding: 1rem 2rem;
  }
}

section > div {
  display: flex;
  flex-direction: column;
  width: 80%;

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    color: #00d9ff;
    font-weight: 700;
    font-size: 3rem;
    margin: 0.8rem 0;
    filter: drop-shadow(0px 1px 8px rgb(0, 225, 255));
  }

  p {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.1;
  }

  span {
    color: #00d9ff;
    font-weight: 600;
  }
}

figure > img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;

  @media (min-width: 200px) and (max-width: 459px) {
    display: none;
  }

  @media (min-width: 460px) and (max-width: 759px) {
    display: none;
  }

  @media (min-width: 760px) and (max-width: 999px) {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 200px) and (max-width: 459px) {
  main {
    padding: 1rem;
    height: 83vh;
  }

  section > div {
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}

@media (min-width: 460px) and (max-width: 759px) {
  main {
    padding: 1rem;
  }
  section > div {
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 3.5rem;
      margin: 1rem 0;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }
}

@media (min-width: 760px) and (max-width: 999px) {
  main {
    padding: 2rem;
  }
}
