main {
  background-color: #444;
  color: #fff;
  display: flex;
  padding: 5rem 8rem;
  justify-content: space-evenly;
  align-items: center;
}

section > div {
  display: flex;
  flex-direction: column;
  width: 80%;

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    color: #00d9ff;
    font-weight: 700;
    font-size: 3rem;
    margin: 0.8rem 0;
    filter: drop-shadow(0px 1px 8px rgb(0, 225, 255));
    animation: filter 3s ease-in-out infinite;

    @keyframes filter {
      0% {
        filter: drop-shadow(20px 0px 10px rgba(0, 225, 255, 0.3));
      }
      50% {
        filter: drop-shadow(20px 0px 10px rgba(0, 225, 255, 0.6));
      }
      100% {
        filter: drop-shadow(20px 0px 10px rgba(0, 225, 255, 1));
      }
    }
  }

  p {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
  }

  span {
    color: #00d9ff;
    font-weight: bold;
  }
}

figure > img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}