/* Header.module.scss */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #444;
  position: relative;
  
  // Define o pseudo-elemento para a borda animada
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; // Altura da borda
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(11, 159, 186, 1) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    animation: slide-border 2s linear infinite;
  }
}

// Keyframes para animar o gradiente
@keyframes slide-border {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 5px rgba(11, 159, 186, 1);
  animation: pulse-box-shadow 2s ease-in-out infinite;
}

// Animação para o efeito de aparecer e sumir
@keyframes pulse-box-shadow {
  0% {
    box-shadow: 1px 1px 10px 5px rgba(11, 159, 186, 0); // Invisível
  }
  50% {
    box-shadow: 1px 1px 20px 5px rgba(11, 159, 186, 1); // Máxima intensidade
  }
  100% {
    box-shadow: 1px 1px 10px 5px rgba(11, 159, 186, 0); // Invisível novamente
  }
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(60deg) translate(5px, 9px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-60deg) translate(5px, -9px);
}

.nav {
  display: flex;
  align-items: center;
}

.navActive {
  display: block;
}

.navUl {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.navUl li a {
  color: #fff;
  text-decoration: none;
}

.box {
  width: auto;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 0.9rem;
  border: 1px solid transparent;
}

.box:hover {
  box-shadow: 1px 1px 10px 5px rgba(11, 159, 186, 1);
  transition: box-shadow 0.7s ease-in-out;
}

.box::before, .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0.9rem;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
}

.box:hover::before {
  border: 2px solid #00d9ff;
  width: 100%;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .box {
  width: auto;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 0.9rem;
  border: 1px solid transparent;
}

.box:hover {
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.box::before, .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0.9rem;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
}

.box:hover::before {
  border: 2px solid #00d9ff;
  width: 100%;
}

  .navActive {
    display: flex;
  }

  .navUl {
    flex-direction: column;
    transform: translateX(100%);
  }

  .navActive .navUl {
    transform: translateX(0);
  }
}
